.wrapper {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.box {
    /* background: blue; */
    /* border-radius: 5px; */
    line-height: 60px;
    /* width: 100px;
    height: 100px; */
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
}

.box p {
    color: white;
}
.box h2 {
    color: white;
}
.two {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
}
.three {
    -webkit-animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@-webkit-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    two {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    two {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeUp {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
}
@-webkit-keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    two {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    two {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeDown {
    -webkit-animation-name: fadeDown;
    animation-name: fadeDown;
}
.abc {
    background-color: blue;
    /* background-image: url("https://c0.wallpaperflare.com/preview/501/165/204/lake-toba-north-sumatra-indonesian.jpg");
    background-repeat: no-repeat; */
    /* background: 100%; */
}
